/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 69px 0;
}
header .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 130px;
}
@media (max-width: 1400px) {
  header .container {
    width: 95%;
  }
}
@media (max-width: 1150px) {
  header .container {
    width: 92%;
  }
}
@media (max-width: 820px) {
  header .container {
    width: 85%;
  }
}
@media (max-width: 550px) {
  header .container {
    width: 75%;
  }
}
@media (max-width: 1400px) {
  header .container {
    gap: 54px;
  }
}
@media (max-width: 1060px) {
  header .container {
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  header .container {
    gap: 30px;
  }
}
header .container .logo {
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 1200px) {
  header .container .logo {
    width: 150px;
  }
}
@media (max-width: 550px) {
  header .container .logo {
    width: 80px;
  }
}
header .container .logo h1 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 900px) {
  header .container .logo h1 {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  header .container .logo h1 {
    font-size: 15px;
  }
}
@media (max-width: 1400px) {
  header .container nav {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  header .container nav {
    width: 85%;
  }
}
@media (max-width: 950px) {
  header .container nav {
    display: none;
  }
}
header .container nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 50px;
}
@media (max-width: 1060px) {
  header .container nav ul {
    gap: 30px;
  }
}
header .container nav ul a {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .container .fa-chevron-down {
  display: none;
  cursor: pointer;
}
@media (max-width: 950px) {
  header .container .fa-chevron-down {
    display: block;
  }
}
header .container .icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}
@media (max-width: 1400px) {
  header .container .icons {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  header .container .icons {
    gap: 15px;
  }
}
@media (max-width: 550px) {
  header .container .icons {
    width: 80%;
  }
}
header .container .icons .search {
  display: flex;
  justify-content: flex-end;
  border-radius: 36px;
  background-color: #FAFAFA;
}
header .container .icons .search .box1 {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7EB693;
}
@media (max-width: 900px) {
  header .container .icons .search .box1 {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 550px) {
  header .container .icons .search .box1 {
    width: 20px;
    height: 20px;
  }
}
header .container .icons .cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
}
@media (max-width: 1400px) {
  header .container .icons .cart {
    width: 90%;
  }
}
header .container .icons .cart .box2 {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #274C5B;
}
@media (max-width: 900px) {
  header .container .icons .cart .box2 {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 550px) {
  header .container .icons .cart .box2 {
    width: 20px;
    height: 20px;
  }
}
header .container .icons .cart h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1400px) {
  header .container .icons .cart h2 {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  header .container .icons .cart h2 {
    font-size: 10px;
  }
}

.s-1 {
  background-image: url(../images/Back.png), url(../images/Photo1.png);
  background-size: cover, 60%;
  background-position: center, right;
  background-repeat: no-repeat;
}
.s-1 .text1 {
  max-width: 730px;
  margin-left: 160px;
  padding-top: 247px;
  padding-bottom: 150px;
}
@media (max-width: 1100px) {
  .s-1 .text1 {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .s-1 .text1 {
    width: 80%;
  }
}
@media (max-width: 1150px) {
  .s-1 .text1 {
    margin: 0;
  }
}
.s-1 .text1 h2 {
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #68A47F;
}
@media (max-width: 900px) {
  .s-1 .text1 h2 {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .s-1 .text1 h2 {
    font-size: 10px;
  }
}
@media (max-width: 1400px) {
  .s-1 .text1 h2 {
    width: 90%;
  }
}
@media (max-width: 1100px) {
  .s-1 .text1 h2 {
    font-size: 20px;
  }
}
.s-1 .text1 h3 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
@media (max-width: 1400px) {
  .s-1 .text1 h3 {
    width: 90%;
  }
}
@media (max-width: 1100px) {
  .s-1 .text1 h3 {
    font-size: 40px;
  }
}
@media (max-width: 900px) {
  .s-1 .text1 h3 {
    font-size: 30px;
  }
}
.s-1 .text1 input[type=submit] {
  display: flex;
  padding: 28px 39px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background-color: #EFD372;
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s-1 .text1 input[type=submit]:hover {
  background-color: orange;
}
@media (max-width: 1100px) {
  .s-1 .text1 input[type=submit]:hover {
    width: 80%;
  }
}

.container1 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 150px 250px;
  gap: 36px;
}
@media (max-width: 1400px) {
  .container1 {
    width: 95%;
  }
}
@media (max-width: 1150px) {
  .container1 {
    width: 92%;
  }
}
@media (max-width: 820px) {
  .container1 {
    width: 85%;
  }
}
@media (max-width: 550px) {
  .container1 {
    width: 75%;
  }
}
@media (max-width: 1000px) {
  .container1 {
    flex-direction: column;
  }
}
@media (max-width: 815px) {
  .container1 {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .container1 {
    padding: 50px 100px;
  }
}
.container1 .natural {
  background-image: url(../images/natural.jpg);
  background-color: #F96893;
  background-position: cover;
  width: 582.244px;
  height: 307px;
  flex-shrink: 0;
  border-radius: 30px;
  padding-top: 118px;
  padding-left: 50px;
}
@media (max-width: 1200px) {
  .container1 .natural {
    width: 90%;
    background-position: center;
  }
}
@media (max-width: 1000px) {
  .container1 .natural {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .container1 .natural {
    width: 300px;
  }
}
@media (max-width: 400px) {
  .container1 .natural {
    width: 200px;
  }
}
.container1 .natural .text2 h2 {
  color: #FFF;
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 900px) {
  .container1 .natural .text2 h2 {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .container1 .natural .text2 h2 {
    font-size: 10px;
  }
}
.container1 .natural .text2 h3 {
  color: #FFF;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
@media (max-width: 900px) {
  .container1 .natural .text2 h3 {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  .container1 .natural .text2 h3 {
    font-size: 15px;
  }
}
.container1 .offer {
  background-image: url(../images/offer.jpg);
  background-color: #EDF2F6;
  background-position: cover;
  width: 582.244px;
  height: 307px;
  flex-shrink: 0;
  border-radius: 30px;
  padding-top: 118px;
  padding-left: 50px;
}
@media (max-width: 1200px) {
  .container1 .offer {
    width: 90%;
    background-position: center;
  }
}
@media (max-width: 1000px) {
  .container1 .offer {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .container1 .offer {
    width: 300px;
  }
}
@media (max-width: 400px) {
  .container1 .offer {
    width: 200px;
  }
}
.container1 .offer .text2 h2 {
  color: #7EB693;
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 900px) {
  .container1 .offer .text2 h2 {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .container1 .offer .text2 h2 {
    font-size: 10px;
  }
}
.container1 .offer .text2 h3 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 800;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #274C5B;
}
@media (max-width: 900px) {
  .container1 .offer .text2 h3 {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .container1 .offer .text2 h3 {
    font-size: 15px;
  }
}

.s-2 {
  background-color: #F9F8F8;
}
.s-2 .container2 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 1400px) {
  .s-2 .container2 {
    width: 95%;
  }
}
@media (max-width: 1150px) {
  .s-2 .container2 {
    width: 92%;
  }
}
@media (max-width: 820px) {
  .s-2 .container2 {
    width: 85%;
  }
}
@media (max-width: 550px) {
  .s-2 .container2 {
    width: 75%;
  }
}
@media (max-width: 900px) {
  .s-2 .container2 {
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  .s-2 .container2 {
    margin: 0;
  }
}
.s-2 .container2 .citrus {
  display: flex;
  width: 858px;
  height: 682px;
  top: 1900px;
  left: 100px;
}
@media (max-width: 1150px) {
  .s-2 .container2 .citrus {
    width: auto;
    height: auto;
  }
}
@media (max-width: 1400px) {
  .s-2 .container2 .citrus .resp {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 900px) {
  .s-2 .container2 .citrus .resp {
    margin: auto;
    width: 70%;
    height: 70%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 550px) {
  .s-2 .container2 .citrus .resp {
    margin: auto;
    width: 50%;
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.s-2 .container2 .about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  flex-wrap: wrap;
  gap: 46px;
}
@media (max-width: 1400px) {
  .s-2 .container2 .about {
    width: 95%;
  }
}
@media (max-width: 1200px) {
  .s-2 .container2 .about {
    width: 90%;
  }
}
.s-2 .container2 .about .text3 {
  padding-bottom: 8px;
}
.s-2 .container2 .about .text3 h2 {
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #7EB693;
}
@media (max-width: 900px) {
  .s-2 .container2 .about .text3 h2 {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .s-2 .container2 .about .text3 h2 {
    font-size: 10px;
  }
}
.s-2 .container2 .about .text3 h1 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #274C5B;
}
.s-2 .container2 .about .text3 p {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #525C60;
}
.s-2 .container2 .about .cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  flex-wrap: wrap;
}
.s-2 .container2 .about .cards .card1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.s-2 .container2 .about .cards .card1 .icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 101px;
  border-radius: 20px;
  background-color: #FFFFFF;
}
.s-2 .container2 .about .cards .card1 .c-1 h3 {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #274C5B;
}
.s-2 .container2 .about .cards .card1 .c-1 p {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #525C60;
}
.s-2 .container2 .about input[type=submit] {
  display: flex;
  width: 220px;
  height: 79px;
  padding: 28px 39px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background-color: #274C5B;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s-2 .container2 .about input[type=submit]:hover {
  background-color: lightblue;
}
@media (max-width: 1100px) {
  .s-2 .container2 .about input[type=submit]:hover {
    width: 80%;
  }
}

.s-3 .container3 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
  margin: 165px auto;
}
@media (max-width: 1400px) {
  .s-3 .container3 {
    width: 95%;
  }
}
@media (max-width: 1150px) {
  .s-3 .container3 {
    width: 92%;
  }
}
@media (max-width: 820px) {
  .s-3 .container3 {
    width: 85%;
  }
}
@media (max-width: 550px) {
  .s-3 .container3 {
    width: 75%;
  }
}
@media (max-width: 850px) {
  .s-3 .container3 {
    margin: 50px auto;
  }
}
@media (max-width: 650px) {
  .s-3 .container3 {
    margin: 50px 0;
  }
}
.s-3 .container3 .text4 {
  text-align: center, center;
}
.s-3 .container3 .text4 h2 {
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  color: #7EB693;
}
.s-3 .container3 .text4 h3 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  color: #274C5B;
}
.s-3 .container3 .cardlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.s-3 .container3 .cardlist .card3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  max-width: 335px;
  max-height: 483px;
  border-radius: 30px;
}
@media (max-width: 800px) {
  .s-3 .container3 .cardlist .card3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    wrap: wrap;
  }
}
.s-3 .container3 .cardlist .card3 .box3 {
  width: auto;
  height: auto;
  padding: 5px, 12px, 6px, 12px;
  border-radius: 8px;
  gap: 10px;
  background-color: #274C5B;
}
.s-3 .container3 .cardlist .card3 .box3 h4 {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}
.s-3 .container3 .cardlist .card3 .imgresp {
  width: 335.23px;
  height: 324px;
}
.s-3 .container3 .cardlist .card3 h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #274C5B;
}
.s-3 .container3 .cardlist .card3 .price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 81px;
}
.s-3 .container3 .cardlist .card3 .price .pr1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.s-3 .container3 .cardlist .card3 .price .pr1 h5 {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #B8B8B8;
}
.s-3 .container3 .cardlist .card3 .price .pr1 h6 {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #274C5B;
}
.s-3 .container3 input[type=submit] {
  display: flex;
  width: 220px;
  height: 79px;
  padding: 28px, 49px, 28px, 46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background-color: #274C5B;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s-3 .container3 input[type=submit]:hover {
  background-color: lightblue;
}
@media (max-width: 1100px) {
  .s-3 .container3 input[type=submit]:hover {
    width: 80%;
  }
}

.s-4 {
  background-image: url(../images/left.png), url(../images/right.png);
  background-position: left, right;
  background-repeat: no-repeat;
}
@media (max-width: 900px) {
  .s-4 {
    background-image: url(none);
  }
}
.s-4 .container4 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1, 108px;
}
@media (max-width: 1400px) {
  .s-4 .container4 {
    width: 95%;
  }
}
@media (max-width: 1150px) {
  .s-4 .container4 {
    width: 92%;
  }
}
@media (max-width: 820px) {
  .s-4 .container4 {
    width: 85%;
  }
}
@media (max-width: 550px) {
  .s-4 .container4 {
    width: 75%;
  }
}
@media (max-width: 1150px) {
  .s-4 .container4 {
    margin: 0 auto;
  }
}
@media (max-width: 815px) {
  .s-4 .container4 {
    max-width: 500px;
  }
}
.s-4 .container4 .test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 60px;
  margin: auto 164px 204px 164px;
}
@media (max-width: 815px) {
  .s-4 .container4 .test {
    margin: 0;
  }
}
.s-4 .container4 .test .text5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.s-4 .container4 .test .text5 h2 {
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #7EB693;
}
@media (max-width: 900px) {
  .s-4 .container4 .test .text5 h2 {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .s-4 .container4 .test .text5 h2 {
    font-size: 10px;
  }
}
@media (max-width: 1150px) {
  .s-4 .container4 .test .text5 h2 {
    font-size: 30px;
  }
}
.s-4 .container4 .test .text5 h1 {
  max-width: 633px;
  max-height: 59px;
  top: 57px;
  left: 73.5px;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  color: #274C5B;
}
@media (max-width: 820px) {
  .s-4 .container4 .test .text5 h1 {
    font-size: 25px;
  }
}
.s-4 .container4 .test .customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
@media (max-width: 860px) {
  .s-4 .container4 .test .customer {
    width: 70%;
  }
}
.s-4 .container4 .test .customer .imgwom {
  width: 115px;
  height: 115px;
}
.s-4 .container4 .test .customer .imgwom img {
  border-radius: 50%;
}
.s-4 .container4 .test .customer p {
  width: 780px;
  height: 60px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #525C60;
}
@media (max-width: 816px) {
  .s-4 .container4 .test .customer p {
    width: 95%;
  }
}
.s-4 .container4 .test .sara {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.s-4 .container4 .test .sara h1 {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #274C5B;
}
.s-4 .container4 .test .sara h4 {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #525C60;
}
.s-4 .container4 .counters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 62px;
}
@media (max-width: 1055px) {
  .s-4 .container4 .counters {
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .s-4 .container4 .counters {
    flex-direction: column;
    wrap: wrap;
  }
}
.s-4 .container4 .counters .circle {
  background-image: url(../images/circle.svg);
  width: 211px;
  height: 211px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 930px) {
  .s-4 .container4 .counters .circle {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 130px;
    height: 130px;
  }
}
.s-4 .container4 .counters .circle h1 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  color: #274C5B;
}
@media (max-width: 930px) {
  .s-4 .container4 .counters .circle h1 {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .s-4 .container4 .counters .circle h1 {
    font-size: 15px;
  }
}
.s-4 .container4 .counters .circle h4 {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #274C5B;
}
@media (max-width: 930px) {
  .s-4 .container4 .counters .circle h4 {
    font-size: 9px;
  }
}

.s-5 {
  background-color: #274C5B;
  padding-top: 201px;
  padding-bottom: 201px;
}
@media (max-width: 410px) {
  .s-5 {
    padding: 20px;
  }
}
.s-5 .container5 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 50px;
}
@media (max-width: 1400px) {
  .s-5 .container5 {
    width: 95%;
  }
}
@media (max-width: 1150px) {
  .s-5 .container5 {
    width: 92%;
  }
}
@media (max-width: 820px) {
  .s-5 .container5 {
    width: 85%;
  }
}
@media (max-width: 550px) {
  .s-5 .container5 {
    width: 75%;
  }
}
@media (max-width: 650px) {
  .s-5 .container5 {
    margin: 0;
  }
}
.s-5 .container5 .offer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 460px;
}
@media (max-width: 1015px) {
  .s-5 .container5 .offer {
    gap: 300px;
  }
}
@media (max-width: 900px) {
  .s-5 .container5 .offer {
    gap: 200px;
  }
}
@media (max-width: 650px) {
  .s-5 .container5 .offer {
    gap: 100px;
  }
}
@media (max-width: 410px) {
  .s-5 .container5 .offer {
    gap: 20px;
  }
}
.s-5 .container5 .offer .text6 h2 {
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #7EB693;
}
@media (max-width: 900px) {
  .s-5 .container5 .offer .text6 h2 {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .s-5 .container5 .offer .text6 h2 {
    font-size: 10px;
  }
}
.s-5 .container5 .offer .text6 h1 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
@media (max-width: 1015px) {
  .s-5 .container5 .offer .text6 h1 {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .s-5 .container5 .offer .text6 h1 {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .s-5 .container5 .offer .text6 h1 {
    font-size: 10px;
  }
}
.s-5 .container5 .offer input[type=submit] {
  display: flex;
  width: 256px;
  height: 79px;
  padding: 28px, 399px, 28px, 39px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background-color: #EFD372;
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s-5 .container5 .offer input[type=submit]:hover {
  background-color: orange;
}
@media (max-width: 1100px) {
  .s-5 .container5 .offer input[type=submit]:hover {
    width: 80%;
  }
}
@media (max-width: 900px) {
  .s-5 .container5 .offer input[type=submit]:hover {
    width: 70%;
  }
}
.s-5 .container5 .fourcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
@media (max-width: 1350px) {
  .s-5 .container5 .fourcard {
    flex-direction: column;
    justify-content: center;
  }
}
.s-5 .container5 .fourcard .card4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  max-width: 335px;
  max-height: 483px;
  border-radius: 30px;
  background-color: #F9F8F8;
}
.s-5 .container5 .fourcard .card4 .box4 {
  width: auto;
  height: auto;
  padding: 5px, 12px, 6px, 12px;
  border-radius: 8px;
  gap: 10px;
  background-color: #274C5B;
  margin: 30px;
}
.s-5 .container5 .fourcard .card4 .box4 h4 {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}
.s-5 .container5 .fourcard .card4 .imgresp {
  width: 310px;
  height: 310px;
  display: block;
  margin-right: auto;
  margin-right: auto;
  width: 50%;
}
.s-5 .container5 .fourcard .card4 h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #274C5B;
  margin-left: 30px;
}
.s-5 .container5 .fourcard .card4 .price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 81px;
  margin-left: 30px;
}
.s-5 .container5 .fourcard .card4 .price .pr1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.s-5 .container5 .fourcard .card4 .price .pr1 h5 {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #B8B8B8;
}
.s-5 .container5 .fourcard .card4 .price .pr1 h6 {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #274C5B;
}

.s-6 {
  padding: 150px 100px;
}
@media (max-width: 750px) {
  .s-6 {
    padding: 0;
  }
}
.s-6 .container6 {
  background-image: url(../images/orange.jpg);
  background-color: #EFD372;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 226px;
  max-width: 1400px;
  height: 323px;
  border-radius: 30px;
  padding: 105px 71px;
}
@media (max-width: 1400px) {
  .s-6 .container6 {
    width: 95%;
  }
}
@media (max-width: 1150px) {
  .s-6 .container6 {
    width: 92%;
  }
}
@media (max-width: 820px) {
  .s-6 .container6 {
    width: 85%;
  }
}
@media (max-width: 550px) {
  .s-6 .container6 {
    width: 75%;
  }
}
@media (max-width: 1250px) {
  .s-6 .container6 {
    gap: 100px;
  }
}
@media (max-width: 850px) {
  .s-6 .container6 {
    gap: 50px;
  }
}
@media (max-width: 550px) {
  .s-6 .container6 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}
@media (max-width: 410px) {
  .s-6 .container6 {
    margin: 0;
  }
}
.s-6 .container6 .text7 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
@media (max-width: 1350px) {
  .s-6 .container6 .text7 {
    font-size: 30px;
  }
}
@media (max-width: 1050px) {
  .s-6 .container6 .text7 {
    font-size: 20px;
  }
}
.s-6 .container6 .formtype {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 850px) {
  .s-6 .container6 .formtype {
    flex-direction: column;
  }
}
.s-6 .container6 .formtype input[type=email] {
  display: flex;
  max-width: 249px;
  max-height: 80px;
  border-radius: 16px;
  background-color: #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #ABABAB;
}
.s-6 .container6 .formtype input[type=submit] {
  display: flex;
  max-width: 150px;
  max-height: 80px;
  padding: 28px, 47px, 29px, 47px;
  border-radius: 16px;
  gap: 10px;
  background-color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}/*# sourceMappingURL=global.css.map */