.s-1 {
    background-image: url(../images/Back.png), url(../images/Photo1.png);
    //background-color: #F1EFF0;
    background-size:cover, 60% ;
    background-position:center, right;
    background-repeat: no-repeat;
    @media (max-width:950px)
    { background-size:40%, 60% ; }
    .text1 {
        max-width: 730px;
        margin-left: 160px;
        padding-top: 247px;
        padding-bottom: 150px;
        @media (max-width:1100px) {width:90%};
        @media (max-width:900px) {width:80%};
        @media (max-width:1150px) {margin:0 };
        //@media (max-width:550px) {margin-left:80px;}
        h2 {
            @include fontnaturals;
            color: #68A47F;
            @media (max-width:1400px) {width: 90%;};
            @media (max-width:1100px) {font-size: 20px}

        }
        h3 {color: #274C5B;
            font-family: Roboto;
            font-size: 70px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            @media (max-width:1400px) {width: 90%};
            @media (max-width:1100px) {font-size: 40px};
            @media (max-width:900px) {font-size: 30px};
           
        }
        input[type="submit"] {
            display: flex;
            padding: 28px 39px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 16px;
            background-color: #EFD372;
            color: #274C5B;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            &:hover {
                background-color: orange;
            @media (max-width:1100px) {width: 80%;};
            }
        }
    }
}
.container1 {
    @include mycontainer;
    @include myflex(row, center);
    @media (max-width: 1000px) {flex-direction: column};
    @media (max-width:815px) {margin:0};
    @media (max-width:500px) {padding: 50px 100px};
    padding: 150px 250px;
    gap: 36px;
    .natural {
        background-image: url(../images/natural.jpg);
        background-color:  #F96893;
        background-position: cover;
       @include box2;
       @media (max-width:1200px) {width: 90%; background-position:center;}
       @media (max-width: 1000px) { width:500px}
       @media (max-width: 600px) { width:300px}
       @media (max-width: 400px) { width:200px}
        .text2{

            h2 {
                color: #FFF;
                @include fontnaturals;
            }
            h3 {
                color: #FFF;
                font-family: Roboto;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                @media (max-width:900px) {font-size: 25px;}
                @media (max-width:400px) {font-size: 15px;}
            }
        }
    }
    .offer {
        background-image: url(../images/offer.jpg);
        background-color: #EDF2F6;
        background-position: cover;
        @include box2;
        @media (max-width:1200px) {width: 90%; background-position:center;}
        @media (max-width: 1000px) { width:500px}
        @media (max-width: 600px) { width:300px}
        @media (max-width: 400px) { width:200px}
        .text2 {
            h2 {
                color: #7EB693;
                @include fontnaturals;
            }
            h3 {
                font-family: Roboto;
                font-size: 40px;
                font-weight: 800;
                line-height: 47px;
                letter-spacing: 0em;
                text-align: left;
                color: #274C5B;
                @media (max-width:900px) {font-size: 30px;}
                @media (max-width:400px) {font-size: 15px;}
            }
        }
    }
}


