.s-4 {
    background-image: url(../images/left.png), url(../images/right.png);
    background-position: left,right;
    background-repeat: no-repeat;
    @media (max-width:900px) {background-image: url(none);}
    .container4 {
        @include mycontainer;
        @include myflex (column, center, center);
        max-width: 1,108px;
        @media (max-width:1150px) {margin: 0 auto};
        @media (max-width:815px) {max-width:500px};
        .test {
            @include myflex (column, center, center);
            gap: 60px;
            margin: auto 164px 204px 164px;
            @media (max-width:815px) {margin:0};

            .text5{
                @include myflex (column, center, center);
                h2 {
                    @include fontnaturals;
                    color: #7EB693;
                    @media (max-width:1150px) {font-size:30px};
                    // width: 141px;
                    // height: 49px;
                    // left: 319.5px; 
                } 
                h1 {
                    max-width: 633px;
                    max-height: 59px;
                    top: 57px;
                    left: 73.5px;
                    font-family: Roboto;
                    font-size: 50px;
                    font-weight: 800;
                    line-height: 59px;
                    letter-spacing: 0em;
                    text-align: center;  
                    color: #274C5B;
                    @media (max-width:820px){font-size: 25px;}
                }       
            }
            .customer {
                @include myflex (column, center, center);
                gap:20px;
                @media(max-width:860px) {width: 70%;};
                .imgwom {
                    width: 115px;
                    height: 115px;
                    img {
                        border-radius: 50%;
                    }    
                }
                p {
                    width: 780px;
                    height: 60px;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #525C60;    
                    @media(max-width:816px) {width: 95%};                
                }
            }
            .sara {
                @include myflex (column, center, center);
                h1 {
                    font-family: Roboto;
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 29px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #274C5B;
                 
                }
                h4 {
                    font-family: Open Sans;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #525C60;
                }
            }
        }
        .counters {
            @include myflex (row, space-evenly);
            gap:62px;
            @media (max-width:1055px) {gap:10px};
            @media (max-width:600px){flex-direction: column; wrap:wrap}

            .circle {
                background-image: url(../images/circle.svg);
                width: 211px;
                height: 211px;
                @include myflex (column, center, center); 
                @media (max-width:930px) {background-size: 80% 80%; background-repeat: no-repeat; background-position: center center; width:130px; height:130px;};
                //@media (max-width:600px) {background-size: 70% 70%; background-repeat: no-repeat; background-position: center center; width:100px; height:100px;};
                h1 {
                    font-family: Roboto;
                    font-size: 50px;
                    font-weight: 800;
                    line-height: 59px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #274C5B;
                    @media (max-width:930px) {font-size: 25px};
                    @media (max-width:600px) {font-size: 15px};
                }
                h4 {
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: center;
                    color:#274C5B;  
                    @media (max-width:930px) {font-size: 9px}                
                }
            }
        }    
    }
}